@font-face {
    font-family: 'roganthin_italic';
    src: url('rogan-thinitalic-webfont.eot');
    src: url('rogan-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-thinitalic-webfont.woff2') format('woff2'),
         url('rogan-thinitalic-webfont.woff') format('woff'),
         url('rogan-thinitalic-webfont.ttf') format('truetype'),
         url('rogan-thinitalic-webfont.svg#roganthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganthin';
    src: url('rogan-thin-webfont.eot');
    src: url('rogan-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-thin-webfont.woff2') format('woff2'),
         url('rogan-thin-webfont.woff') format('woff'),
         url('rogan-thin-webfont.ttf') format('truetype'),
         url('rogan-thin-webfont.svg#roganthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rogansemibold_italic';
    src: url('rogan-semibolditalic-webfont.eot');
    src: url('rogan-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-semibolditalic-webfont.woff2') format('woff2'),
         url('rogan-semibolditalic-webfont.woff') format('woff'),
         url('rogan-semibolditalic-webfont.ttf') format('truetype'),
         url('rogan-semibolditalic-webfont.svg#rogansemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rogansemibold';
    src: url('rogan-semibold-webfont.eot');
    src: url('rogan-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-semibold-webfont.woff2') format('woff2'),
         url('rogan-semibold-webfont.woff') format('woff'),
         url('rogan-semibold-webfont.ttf') format('truetype'),
         url('rogan-semibold-webfont.svg#rogansemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganitalic';
    src: url('rogan-regularitalic-webfont.eot');
    src: url('rogan-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-regularitalic-webfont.woff2') format('woff2'),
         url('rogan-regularitalic-webfont.woff') format('woff'),
         url('rogan-regularitalic-webfont.ttf') format('truetype'),
         url('rogan-regularitalic-webfont.svg#roganitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganregular';
    src: url('rogan-regular-webfont.eot');
    src: url('rogan-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-regular-webfont.woff2') format('woff2'),
         url('rogan-regular-webfont.woff') format('woff'),
         url('rogan-regular-webfont.ttf') format('truetype'),
         url('rogan-regular-webfont.svg#roganregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganmedium_italic';
    src: url('rogan-mediumitalic-webfont.eot');
    src: url('rogan-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-mediumitalic-webfont.woff2') format('woff2'),
         url('rogan-mediumitalic-webfont.woff') format('woff'),
         url('rogan-mediumitalic-webfont.ttf') format('truetype'),
         url('rogan-mediumitalic-webfont.svg#roganmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganmedium';
    src: url('rogan-medium-webfont.eot');
    src: url('rogan-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-medium-webfont.woff2') format('woff2'),
         url('rogan-medium-webfont.woff') format('woff'),
         url('rogan-medium-webfont.ttf') format('truetype'),
         url('rogan-medium-webfont.svg#roganmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganlight_italic';
    src: url('rogan-lightitalic-webfont.eot');
    src: url('rogan-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-lightitalic-webfont.woff2') format('woff2'),
         url('rogan-lightitalic-webfont.woff') format('woff'),
         url('rogan-lightitalic-webfont.ttf') format('truetype'),
         url('rogan-lightitalic-webfont.svg#roganlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganlight';
    src: url('rogan-light-webfont.eot');
    src: url('rogan-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-light-webfont.woff2') format('woff2'),
         url('rogan-light-webfont.woff') format('woff'),
         url('rogan-light-webfont.ttf') format('truetype'),
         url('rogan-light-webfont.svg#roganlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganextralight_italic';
    src: url('rogan-extralightitalic-webfont.eot');
    src: url('rogan-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-extralightitalic-webfont.woff2') format('woff2'),
         url('rogan-extralightitalic-webfont.woff') format('woff'),
         url('rogan-extralightitalic-webfont.ttf') format('truetype'),
         url('rogan-extralightitalic-webfont.svg#roganextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganextralight';
    src: url('rogan-extralight-webfont.eot');
    src: url('rogan-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-extralight-webfont.woff2') format('woff2'),
         url('rogan-extralight-webfont.woff') format('woff'),
         url('rogan-extralight-webfont.ttf') format('truetype'),
         url('rogan-extralight-webfont.svg#roganextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'roganextrabold_italic';
    src: url('rogan-extrabolditalic-webfont.eot');
    src: url('rogan-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-extrabolditalic-webfont.woff2') format('woff2'),
         url('rogan-extrabolditalic-webfont.woff') format('woff'),
         url('rogan-extrabolditalic-webfont.ttf') format('truetype'),
         url('rogan-extrabolditalic-webfont.svg#roganextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganextrabold';
    src: url('rogan-extrabold-webfont.eot');
    src: url('rogan-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-extrabold-webfont.woff2') format('woff2'),
         url('rogan-extrabold-webfont.woff') format('woff'),
         url('rogan-extrabold-webfont.ttf') format('truetype'),
         url('rogan-extrabold-webfont.svg#roganextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganbold_italic';
    src: url('rogan-bolditalic-webfont.eot');
    src: url('rogan-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-bolditalic-webfont.woff2') format('woff2'),
         url('rogan-bolditalic-webfont.woff') format('woff'),
         url('rogan-bolditalic-webfont.ttf') format('truetype'),
         url('rogan-bolditalic-webfont.svg#roganbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roganbold';
    src: url('rogan-bold-webfont.eot');
    src: url('rogan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rogan-bold-webfont.woff2') format('woff2'),
         url('rogan-bold-webfont.woff') format('woff'),
         url('rogan-bold-webfont.ttf') format('truetype'),
         url('rogan-bold-webfont.svg#roganbold') format('svg');
    font-weight: normal;
    font-style: normal;

}